<div class="row">
  <div class="small-4 columns">
    <div class="row">
      <label>Enter a number
          <input id="trivia-number" type="number" placeholder="Number" />
      </label>
    </div>
    <div class="row">
      <a href="#" can-click="getTrivia" class="button round">Get Trivia!</a>
    </div>

    

  </div>
</div>
